.myList{
    width:900px;
    display:block;
    overflow:hidden;
}
.myList__list{
    color:#000;
    font-family:Arial;
    font-size:14px;
    list-style:none;
}
.wrapper_one{  
    float:left;
    width:300px;
    border:1px solid #eee;
    height:100px;
    padding:10px;
}
.wrapper_two{
    float:right;
    width:300px;
    border:1px solid #eee;
    height:100px;
    padding:10px;
}
.myList__button{
    width:150px;
    text-align:center;
    text-transform:uppercase;
    color:#fff;
    font-size:12px;
    font-family:Arial;
    background-color:#999;
    clear:both;
    display:block;
    margin:20px auto;
    border-radius: 5px;
    padding:2px;
}
button:hover{
    background-color:#cc0000;
}